@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: linear-gradient(180deg, #100b0b 48%, #002219 100%), #070c0b;
  --color: rgba(0, 0, 0, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--color);
  background: var(--body-bg);
  position: fixed;
  inset: 0;
  touch-action: pan-x pan-y;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .focus-ring {
    @apply border border-transparent focus-visible:ring-[3px] focus-visible:ring-[rgba(214,_214,_214,_1)] focus-visible:ring-offset-1 focus-visible:ring-offset-[rgba(214,_214,_214,_1)] focus-visible:outline-none focus-visible:border focus-visible:border-[#D6D6D6];
  }
}

button,
a,
input {
  @apply focus-ring;
}
