@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: rgba(247, 247, 247, 1);
  --color: rgba(0, 0, 0, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--color);
  background-color: var(--body-bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
